<template>
  <div>
    <h1 class="title is-1">Escoge una Misión</h1>
    <br>
    <br>
    <br>
    <div class="columns">
      <div class="column">
        <character-card class='is-flex' v-for="(card,index) in cards" :key="index" :item="card"></character-card>
        <router-view />
      </div>
    </div>
    <satanOMeter class='inventory' />
    
    <p>Descripción</p>
    <p>Recompensa</p>
    <p>Fama</p>
  </div>
</template>

<script>
import satanOMeter from '../components/SatanOMeter.vue'
import characterCard from '../components/Card.vue'
export default {
  name: 'characterSelection',
  components: {
    characterCard,
    satanOMeter,
  },

  data() {
    return {
     
      cards: [

        {
          title: ' Un gran alumno',
          picture:
            'https://ya-webdesign.com/transparent250_/hercules-satan-png-3.png',
          description: 'Pirozhki quiere ser tu alumno. Conviértelo en tu discípulo.',
          difficulty: 'Muy Fácil',
          reward: '1 capsula aleatoria',
          fame: '+1',
          link: ''
        },


        {
          title: 'Gamberros ',
          picture:
            'https://i.pinimg.com/originals/5a/5e/d8/5a5ed8c6ae4a8c85d2493aa19179e2c6.png',
          description: 'Unos Gamberros están sembrando el caos en Ciudad Oeste.',
          difficulty: 'Fácil',
          reward: '60 monedas + Una cápsula aleatoria',
          fame: '+5',
          link: '/pilaf'
        },


        {
          title: 'Big Trouble in Little Town ',
          picture:'https://www.pngitem.com/pimgs/m/183-1833119_transparent-master-roshi-png-dragon-ball-wolfman-png.png',
          description: 'Un monstruo tiene intimidado un pequeño pueblo al sur del Monte Paozu',
          difficulty: 'Normal',
          reward: '75 monedas + Una cápsula aleatoria.',
          fame: '+15',
          link: '/wolfman'
        },

        {
          title: ' Torneo de Artes Marciales',
          picture:  'https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/84dc13b7-a2e7-4b45-83ec-311e72e82900/dbty95r-658dd692-591f-48cf-bb55-847f5c7e02fb.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvODRkYzEzYjctYTJlNy00YjQ1LTgzZWMtMzExZTcyZTgyOTAwXC9kYnR5OTVyLTY1OGRkNjkyLTU5MWYtNDhjZi1iYjU1LTg0N2Y1YzdlMDJmYi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.YEo7qdCami9YJCBmgyovUL-tAHZ66gS_OkeuPTsEgBQ',
          
          description: 'Vence en el torneo de las Artes Marciales',
          difficulty: 'Difícil',
          reward: '100 monedas + 2 cápsulas',
          fame: '+100',
          link: ''
        },

        {
          title: 'El Juego de Cell',
          picture:
            'https://images1.wikia.nocookie.net/__cb20120315040644/dragonballmultiverse/es/images/4/44/Cell_perfecto.png',
          description:
            'El terrible monstruo Cell ha creado un torneo en el que desafía a los mejores luchadores de la tierra a derrotarlo. ',
          difficulty: 'Infierno',
          reward: '1000 monedas de oro + 5 capsulas aleatorias',
          fame: '+750',
          link: ''
        }
      ]
    }
  }
}
</script>

<style lang="scss">

.inventory{
  position:relative;
  left:1300px;

}

.title{
color:blue;
}

.column{
  display:flex;
  padding-left:5px;
}
.title{
  padding:9px;

  
 
}
</style>