<template>
  <div>
    <div  v-if="!show">
      <div class="meter">
        <!-- <satanOMeter /> -->
      </div>
      <div class="shopButton">
      
      </div>
    </div>
    <div v-show="show">
      <h1 class="title is-1" id='title'>Mr Satan's Adventure:</h1>
      <h2 class="title is-2" id='title'>A Hero is Born</h2>
      <img
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/84dc13b7-a2e7-4b45-83ec-311e72e82900/dd55who-ef862680-0020-4046-bbf5-f42235982608.png/v1/fill/w_640,h_640,strp/mr__satan_render_2__sdbh_world_mission__by_maxiuchiha22_dd55who-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD02NDAiLCJwYXRoIjoiXC9mXC84NGRjMTNiNy1hMmU3LTRiNDUtODNlYy0zMTFlNzJlODI5MDBcL2RkNTV3aG8tZWY4NjI2ODAtMDAyMC00MDQ2LWJiZjUtZjQyMjM1OTgyNjA4LnBuZyIsIndpZHRoIjoiPD02NDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.Yrgy14HFCPYucebAKE2487W9areq4wNaWqnnBcqvIDQ"
        alt
      />

      <router-link :to="{path: '/characterSelect'}">
        <button class="button is-primary" @click="show=false">Nueva Partida</button>
      </router-link>
      
    </div>
    <router-view />
  </div>
</template>

<script>
// import satanOMeter from '../components/SatanOMeter.vue'
export default {
  name: 'home',
  components: {
    // satanOMeter
  },

  data() {
    return {
      show: true
    }
  },
  methods: {}
}
</script>

<style lang="scss">


#title{
  color:black;
}
.meter {
  float: right;
  clear:right;
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  
}

.shopButton{
   float: right;
   margin-left:25px;
   margin-top:100px;
}
</style>