<template>
  <div>
    <!-- <img src="https://thumbs.gfycat.com/AmusingVengefulHart-small.gif" alt=""> -->
    <p class="title is-2">Derrota a Pilaf y su banda en un Duelo de Memoria</p>
    <div class="game-container">
      <div class="game-info-container">
        <div class="game-info">
          Time:
          <span id="time-remaining">{{time}}</span>
        </div>
        <div class="game-info">
          Tiradas:
          <span id="time-remaining">{{flips}}</span>
          <div class="columns is-multiline">
            <memoryCard class='column is-3' v-for="(memory,index) in memoryCards" :key="index" :item="memory" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import memoryCard from '../components/MemoryCard'
export default {
  name: 'pilaf',
  components: {
    memoryCard
  },

  data() {
    return {
      time: 45,
      flips: 0,
      memoryCards: [
        {
          number: 1
        },

        {
          number: 3
        },

        {
          number: 5
        },

        {
          number: 6
        },

        {
          number: 5
        },

        {
          number: 4
        },

        {
          number: 2
        },

        {
          number: 3
        },

        {
          number: 4
        },
        {
          number: 1
        },
        {
          number: 6
        },

        {
          number: 2
        }
      ]
    }
  }
}
</script>

<style lang="scss">

.columns{
  display:inline-block;
}
</style>