<template>
  <div>
<h1 class="title is-2">Tienda</h1>
<router-link :to="{path: '/characterSelect'}">
        <button class="button is-primary">Salir</button>
      </router-link>
  
  </div>

</template>

<script>
export default {
  name:'satanShop',
}
</script>