<template>
  <div id="mount">
    <div>
      <img id="satan" src="https://i.ibb.co/JpKbb5Z/stansenala1.png" />

      <!--CUando usamos emit, la respuesta se recoge dentro del propio elemento desde donde lo enviemos pero en el parent -->
    </div>
    <div class="scoreBoard">
      <p class="score">Mr.Satan: {{satanScore}}</p>
      <p class="score">Man-Wolf: {{wolfScore}}</p>
      <br />
      <div class="result">
        <img :src="resultImage" class="resultImage" />
        <p>{{resultText}}</p>
      </div>
    </div>
    <div class="choice">
      <rsp @selection="selectPlay" />
      <img :src="choice" />
    </div>
    <div class="wolfChoice">
      <img class="wolfHand" :src="wolfChoice" />
    </div>
    <div id="wolf">
      <img
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/84dc13b7-a2e7-4b45-83ec-311e72e82900/dck8ppd-014ee93e-fc38-440d-a048-3dbba26d5177.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvODRkYzEzYjctYTJlNy00YjQ1LTgzZWMtMzExZTcyZTgyOTAwXC9kY2s4cHBkLTAxNGVlOTNlLWZjMzgtNDQwZC1hMDQ4LTNkYmJhMjZkNTE3Ny5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.4zsleO5XPzQlK27Y2dtkEewD7almCxYvSZ1CxiLmZac"
        alt
      />
    </div>
     <p  @click="showInstructions">Muerte</p>
  </div>
</template>

<script>
import rsp from '../components/RSP.vue'
export default {
  name: 'wolfman',
  components: {
    rsp
  },
  data() {
    return {
      blankField: {
        icon: 'info',
        title: 'Asegúrate que has introducido un producto y una cantidad',
        text: 'Ánimo, Campeón!'
      },
      satanScore: 0,
      wolfScore: 0,
      choice: '',
      wolfChoice: '',
      resultImage: '',
      resultText: '',

      rock: 'https://static.thenounproject.com/png/477918-200.png',
      paper: 'https://static.thenounproject.com/png/477922-200.png',
      scissors: 'https://static.thenounproject.com/png/477919-200.png'
    }
  },
  methods: {

    showInstructions(){
       this.$swal.fire(this.blankField)
    },
    
    selectPlay(play) {
      console.log(play)
      if (play == this.paper) {
        this.choice = this.paper
      }
      if (play == this.scissors) {
        this.choice = this.scissors
      }

      if (play == this.rock) {
        this.choice = this.rock
      }
      this.wolfPlay()
    },

    wolfPlay() {
      let result = Math.floor(Math.random() * 3)
      if (result == 0) {
        this.wolfChoice = this.paper
      }
      if (result == 1) {
        this.wolfChoice = this.rock
      }
      if (result == 2) {
        this.wolfChoice = this.scissors
      }
      this.showResult()
    },
    showResult() {
      if (this.choice == this.wolfChoice) {
        this.resultText = "Empate!"
        this.resultImage= 'https://66.media.tumblr.com/00a29434a5e1df08fb494a01bb432d76/tumblr_nj3eetJpDx1tu0hbzo3_500.gifv'
      }
      if (
        (this.choice == this.paper && this.wolfChoice == this.rock) ||
        (this.choice == this.scissors && this.wolfChoice == this.paper) ||
        (this.choice == this.rock && this.wolfChoice == this.scissors)
      ) {
        this.resultText = 'Mr. Satan es el Ganador'
        this.satanScore = this.satanScore + 1
        this.resultImage= 'https://66.media.tumblr.com/00adf9de86c4fb962ee005637de82d69/tumblr_pwvdtfCUr41s15h3qo1_500.gifv'
      }
      if (
        (this.wolfChoice == this.paper && this.choice == this.rock) ||
        (this.wolfChoice == this.scissors && this.choice == this.paper) ||
        (this.wolfChoice == this.rock && this.choice == this.scissors)
      ) {
        this.resultText= 'Man-Wolf es el Ganador!'
        this.wolfScore= this.wolfScore +1
        this.resultImage= 'https://pa1.narvii.com/6067/7aff77d83282fc1544f336dfb339e331508f1a48_hq.gif'
      }
    }
  },
   
}
</script>

<style lang="scss">
.scoreBoard {
  display: inline-flex;
  align-content: center;
}
.result {
  position: absolute;
  top: 160px;
  left: 700px;
  color: white;
}

.wolfHand {
  transform: scaleX(-1);
}

.choice {
  position: relative;
  top: 30px;
  left: 150;
}

.wolfChoice {
  position: relative;
  top: -175px;
  left: 1100px;
}

.score {
  padding-left: 120px;
  padding-right: 310px;
  font-size: 60px;
  color: white;
}

#mount {
  background-image: url('https://i.pinimg.com/originals/85/b0/71/85b0714c5bda6ba66bd7c8c9a75abb3e.png');
  background-size: cover;
  height: 1000px;
  align-content: flex-start;
}

#satan {
  position: absolute;
  top: 550px;
  left: 390px;
  width: 220px;
}

#wolf {
  position: absolute;
  top: 495px;
  left: 1350px;
  width: 310px;
}

.resultImage{
  width:50%;
}
</style>
