<template>
  <div class="card">
    <div class="card-content">
      <figure class="image is-128x128">
        <img class="is-rounded" :src="item.picture" />
      </figure>

      <h2 class="title is-5">{{item.title}}</h2>
      <div  >
        <h3 class="title is-6">{{item.description}}</h3>
        <h4 class="title is-7">
          Dificultad: {{item.difficulty}}
          Recompensa: {{item.reward}}
          Fama: {{item.fame}}
        </h4>
      </div>
      <footer class="card-footer">
        <div class="card-footer-item">
          <router-link :to="item.link">
            <button class="button is-primary" @click="show=false">Escoger esta Misión</button>
          </router-link>
        </div>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  name: 'characterCard',
  props: ['item'],
  
}
</script>

<style lang="scss">

.card:hover {
  transform: scale(1.3);
  z-index: 1;
  
}
</style>