<template>
  <div>
    <div class='back-memory'></div>
    <div class='front-memory'>
  {{item.number}}</div>
  </div>
</template>

<script>
export default {
  name:'memoryCard',
  props:['item'],
}
</script>

<style lang="scss">
.back-memory{
  background-image:url('https://www.freepngimg.com/thumb/dragon_ball/23323-8-dragon-ball-goku-thumb.png'), radial-gradient(yellow, purple);
  background-size:contain;
  background-repeat: no-repeat;
  height: 275px;
  width:185.5px;
}
.front-memory{
  visibility:hidden;
}



</style>