<template>
  <div class="game">
    <button class="button" @click="selectRock">Piedra</button>
    <button class="button" @click="selectPaper">Papel</button>
    <button class="button" @click="selectScissors">Tijeras</button>
  </div>
</template>

<script>
export default {
  name: 'rsp',
  data() {
    return {
      
    rock:'https://static.thenounproject.com/png/477918-200.png',
    paper:'https://static.thenounproject.com/png/477922-200.png',
    scissors:'https://static.thenounproject.com/png/477919-200.png',
    }
  },
  methods: {
    game() {},
    selectRock() {
      this.$emit('selection', this.rock)
    },
    selectPaper() {
      console.log('sale', )
      this.$emit('selection', this.paper)
    },

    selectScissors() {
      this.$emit('selection', this.scissors)
    }
  }
}
</script>

<style lang="scss">
.game {
  display:table-cell;
  vertical-align: middle;
  position:absolute;
  top: 300px;

}
</style>