<template>
  <div>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRhrV1uL-xBBlFOTTDD9P3Lo1xYcrYx49JXqUkYqb6yYbR7qg3k&usqp=CAU" alt="">
<h1 class="title is-2">Satan O'meter</h1>
  <p>Dinero: {{dinero}}</p>
  <p>Fama: {{fama}}</p>
  <p>Objetos: {{inventario}}</p>
  <p></p>
  <router-link :to="{path: '/shop'}">
        <button class="button is-primary">Ir a la Tienda</button>
      </router-link>
  </div>
</template>

<script>
export default {
  name:'satanOMeter',
  data(){
    return{
      fama:0,
      dinero:0,
      inventario:[],
    }
  }

}
</script>

<style lang="scss">
img{
  margin-right: 5px;
  
}

p{
  font-size: 25px;
  padding-bottom: 5px;
}
</style>