<template>
  <div v-cloak id="app">
  <Home/>
  
  </div>
</template>

<script>
import Home from './views/Home.vue'
export default {
  name: 'App',
  components: {
    Home,
  }, 
}
</script>

<style lang="scss">
#app{
//  background-image: url('https://66.media.tumblr.com/e43c8512e25d67f16d502d77e6898cb8/tumblr_n7xqjx8cFm1r72ht7o1_500.gif');
//   background-size:cover;
width:1500px;
height:950px;
margin: 0 auto;
overflow: hidden;
  
}
</style>